body {
  font-family: Arial, sans-serif;
  background-color: #FFC107;
}

header {
  text-align: center;
  padding: 1em 0;
  background-color: #03A9F4;
  color: #fff;
}

header h1 {
  font-size: 2em;
  transition: all 0.3s ease-in-out;
}

header h1:hover {
  transform: rotate(360deg);
}

header h2 {
  font-size: 1.5em;
